body {
  background-color: #eeeeee;
}

header {
  width: 100%;
  height: 5em;
  background-color: #204060;
  color: #f5f5f5;
  font-family: 'Courier New', Courier, monospace;
}

.resty-form {
  ul {
    display: inline;
    li {
      display: inline;
    }
  }
}

.response-area {
  position: fixed;
  height: 50%;
  width: 90%;
  min-width: 500px;
  background-color: white;
  border: 1px solid grey;
  div {
    size: relative;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #204060;
  color: #f5f5f5f5;
  text-align: center;
}

